.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
}			

.space-20 {
	margin-top: 20px;
}
.row {
	padding: 10px;
}

.navbar{
	margin-bottom:0px;
	max-height: 50px;
}
.navbar-brand{
	padding-top:0px;
	padding-bottom:0px;			
}

#predictor{
	margin-top:40px;
}

/* leaderboards */
.filterable {
	margin-top: 15px;
}
.filterable .panel-heading .pull-right {
	margin-top: -20px;
}
.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}
.navbar-default {
	background: #84c7e6;			
	border: none;
}

/* Fancy Dropdown */

.btn.dropdown-toggle ~ .dropdown-menu, 
ul.nav li.dropdown ul.dropdown-menu {
	background-color: rgb(244, 244, 244);
	background-color: rgb(255, 255, 255);
	border: 0 solid rgb(66, 133, 244);
	box-shadow: 0px 0px 3px rgba(25, 25, 25, 0.3);
	top:0px;
	margin:0px;
	padding: 0px;
}

ul.nav li.dropdown ul.dropdown-menu {
	position: absolute;
	width: 100%;
}
.dropdown-menu .dropdown-plus-title {
	width: 100%;
	color: rgb(51, 51, 51);
	padding: 6px 12px;
	font-weight: 800;
	border: none;
	cursor: pointer;
}

ul.nav li.dropdown ul.dropdown-menu .dropdown-plus-title {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.btn.dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(53, 126, 189);
}
.btn.dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(76, 174, 76);
}
.btn.dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(70, 184, 218);
}
.btn.dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(238, 162, 54);
}
.btn.dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(212, 63, 58);
}

@media (min-width: 768px) {
	ul.nav li.dropdown ul.dropdown-menu .dropdown-plus-title {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@media (min-width: 768px) {
	ul.nav li.dropdown ul.dropdown-menu {
		width: auto;
	}
}

.img_block {
	display: block;
}

.thumb_left {
	height: 21px;
	padding-right: 20px;
}

.thumb_right {
	height: 21px;
	padding-left: 20px;
}

.score {
	text-align: center;
}

.btn-facebook {
	color: #ffffff;
	background-color: #2b4b90;
	
	text-align: left;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
	color: #ffffff;
	background-color: #133783 !important;
}

.btn-facebook:active,
.btn-facebook.active {
	background-color: #0d2456 \9 !important;
}

.facebook-text {
	padding-left: 15px;
}

.logoh {
	height: 36px;
	margin-top: 7px;
	margin-bottom: 7px;
}

.euro16 {
	height: 48px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.euro16-main {
	height: 100px;
}

.btn-primary {
    color: #fff;
    background-color: #0C588D;
    border: none;
}

.row-score {
	display: none;
}

.vs {
	text-align: center;
	padding-top: 80px;
}

.vs-header {
	margin-top: 15px;
}

.icon-md {
	height: 80px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.icon-md {
		height: 40px;
	}
	.vs {
		padding-top: 40px;
	}
}

.score-input {
	text-align: center;
}

/*.score-input {
	width: 70%;
}

.img-container {
	width: 70%;
}

.row-relative {
	position: relative;
	height: 160px;
}

.col-absolute-left {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 10px;
}

.col-absolute-right {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}

.col-absolute-default {
	position: absolute;
	bottom: 0;
}

.col-absolute-middle {
	position: absolute;
	bottom: 0;
	left: 41.6669565%;
}*/

.no-padding {
	padding: 0;
}

.container-predictions {
}

.container-leaderboard {
}

.table {
  border: 1px solid #dddddd;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left;
}

.navbar-right {
float: right !important;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
}
.navbar-default .navbar-nav>li>a {
    color: #0C588D;
}

.league-link {
	overflow: scroll;
}