.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
}			

.space-20 {
	margin-top: 20px;
}
.row {
	padding: 10px;
}

.navbar{
	margin-bottom:0px;
}
.navbar-brand{
	padding-top:0px;
	padding-bottom:0px;			
}

#predictor{
	margin-top:40px;
}

/* leaderboards */
.filterable {
	margin-top: 15px;
}
.filterable .panel-heading .pull-right {
	margin-top: -20px;
}
.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}
.navbar-default {
	background: #2B6D9A;			
	border-color: #2B6D9A;
}

/* Fancy Dropdown */

.btn.dropdown-toggle ~ .dropdown-menu, 
ul.nav li.dropdown ul.dropdown-menu {
	background-color: rgb(244, 244, 244);
	background-color: rgb(255, 255, 255);
	border: 0 solid rgb(66, 133, 244);
	box-shadow: 0px 0px 3px rgba(25, 25, 25, 0.3);
	top:0px;
	margin:0px;
	padding: 0px;
}

ul.nav li.dropdown ul.dropdown-menu {
	position: absolute;
	width: 100%;
}
.dropdown-menu .dropdown-plus-title {
	width: 100%;
	color: rgb(51, 51, 51);
	padding: 6px 12px;
	font-weight: 800;
	border: 0 solid rgb(173, 173, 173);
	border-bottom-width: 2px;
	cursor: pointer;
}

ul.nav li.dropdown ul.dropdown-menu .dropdown-plus-title {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.btn.dropdown-toggle.btn-primary ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(53, 126, 189);
}
.btn.dropdown-toggle.btn-success ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(76, 174, 76);
}
.btn.dropdown-toggle.btn-info ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(70, 184, 218);
}
.btn.dropdown-toggle.btn-warning ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(238, 162, 54);
}
.btn.dropdown-toggle.btn-danger ~ .dropdown-menu .dropdown-plus-title {
	border-color: rgb(212, 63, 58);
}

@media (min-width: 768px) {
	ul.nav li.dropdown ul.dropdown-menu .dropdown-plus-title {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@media (min-width: 768px) {
	ul.nav li.dropdown ul.dropdown-menu {
		width: auto;
	}
}

.img_block {
	display: block;
}

.thumb_left {
	height: 21px;
	padding-right: 5px;
}

.thumb_right {
	height: 21px;
	padding-left: 5px;
}

.score {
	text-align: center;
}

.btn-facebook {
	color: #ffffff;
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #2b4b90;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
	color: #ffffff;
	background-color: #133783 !important;
}

.btn-facebook:active,
.btn-facebook.active {
	background-color: #0d2456 \9 !important;
}